@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,p {
  margin: 0;
}

h1 {
  @apply text-4xl lg:text-6xl;
}

h2 {
  @apply text-2xl lg:text-5xl;
}

h3 {
  @apply text-xl lg:text-4xl;
}

.btn {
  @apply inline-block px-8 py-4 bg-blue-200 rounded-md;
}

.text-error{
  @apply mt-1 text-xs font-medium tracking-wide text-red-500;
}

button:focus{
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

